* {
    /*m0+p0*/
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: url("../img/Sign up.jpg");
    background-size: cover;
}
.top-header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
}
.top-logo {
    text-decoration: none;
}
.logo-text {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 79px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.logo-text:hover {
    color: #3CB878;
}
.top-nav {
    display: flex;
    justify-content: space-between;
}
.top-icons {
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    align-items: center;
}
.top-icons>a {
    text-decoration: none;
    margin-right: 24px;
}
.top-icons>a:hover .colors-path {
    fill: #3CB878;
}
.top-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-right: 79px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;

}
.top-text::before {
    content: url("../img/line.jpg");
    width: 1px;
    height: 19px;
    padding-right: 24px;
}
.text-login {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 3px;
    padding-left: 3px;
}
.text-sing {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 3px;
}
.top-text>a:hover {
    color: #3CB878;
}
.form-container {
    width: 100%;
    height: 100%;
}
.form-content {
    margin: 0 auto;
    width: 444px;
    height: 590px;
    position: absolute;
    left: 0;
    right: 0;
    top:calc(50% - 250px);
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
.authorization {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 15px 0;
}
.authorization>h2::before {
    content: url("../img/shape.jpg");
    padding-right: 43px;
    width: 18px;
    height: 18px;
    color: #3CB878;
}
.signup-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.link-text {
    text-decoration: none;
}
.logins-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.logins-text:hover {
    color: #01813F;
    text-decoration: underline;
}
.btn {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
}
.facebook-btn {
    display: flex;
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
}
.facebook-btn:hover {
    background: #022263;
}
.facebook-img {
    color: #FFFFFF;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 18px;
}
.facebook-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    height: 14px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-top: 17px;
}
.facebook-text::before {
    content: url("../img/Rectangle 2.jpg");
    padding-right: 18px;
    width: 1px;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.google-btn {
    display: flex;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
}
.google-btn:hover {
    background: #AB1F09;
}
.google-img {
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 7px;
}
.google-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.google-text::before {
    content: url("../img/Rectangle 2.jpg");
    padding-right: 30px;
    width: 1px;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.form-txt {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}
.form-txt::after {
    content: url("../img/line (1).jpg");
    width: 152px;
    height: 1px;
    left: 171px;
    padding-left: 5px;
}
.form-txt::before {
    content: url("../img/line (1).jpg");
    width: 152px;
    height: 1px;
    left: 171px;
    padding-right: 5px;
}
.page-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms-input {
    width: 324px;
    height: 45px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

}
.forms-input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: 0;
    outline-offset: 0;
    color: #434343;
}
.forms-label {
    display: flex;

}
.forms-checkbox {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-right: 8px;

}
.forms-info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.forms-link {
    text-decoration: none;
    color: #3CB878;
    padding-right: 100px;
    padding-left: 3px;
}
.forms-link:hover {
    color: #01813F;
}
.forms-account {
    width: 345px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 60px;
    padding-right: 60px;
}
.forms-account:hover {
    background: #01813F;
}